img{
    height: 250px;
    width: 350px;
    margin: 20px;
    padding: 10px;
    border-radius: 5%;
    box-shadow: darkgray;
}
.sizee{
    height: 450px;
    width: 350px;
    margin: 20px;
    padding: 10px;
    border-radius: 5%;
    box-shadow: darkgray;
}