img{
    height: 200px;
    width: 250px;    
    box-shadow: 5px 5px 10px rgba(126, 126, 126, 0.2);
}
body {
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    
}

h1{
    font-size: 55px;
    font-weight: 900;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.nav-btn img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-weight: bold;
    color: black;
    background: #ffffff;
    border: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Auto adjust */
    gap: 20px;
    max-width: 100%;
    margin: auto;
    align-items: center;
}



.card {
    background: white;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 375px;
    cursor: pointer;
    border-radius: 20%;
}

.image-container {
    border: 2px solid rgb(19, 19, 19);
    display: inline-block;
    border-radius: 20%;
}

.image-container img {
    width: 100%;
    display: block;
    border-radius: 20%;
}

.caption {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.caption1 {
    font-size: 20px;
    font-weight: inherit;
    margin-top: 10px;
    font-style: italic;
}