/*img{
    height: 200px;
    width: 250px;
    margin: 10px;
    padding: 20px;
    box-shadow: rgb(24, 49, 47);
}*/
h1{
    color: darkgreen;
    font-family:Georgia, 'Times New Roman', Times, serif;
    size: 250px;
    text-align: center;
    font-style: bold;
}
h1.center{
    align-items: center;
    text-size-adjust: 300px;
}
img{
    height: 200px;
    width: 250px;    
    box-shadow: 5px 5px 10px rgba(126, 126, 126, 0.2);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 224, 205);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Auto adjust */
    gap: 20px;
    max-width: 100%;
    margin: auto;
    justify-content: center;
}

.card {
    background: white;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 375px;
    cursor: pointer;
}

.image-container {
    border: 2px solid rgb(19, 19, 19);
    display: inline-block;
}

.image-container img {
    width: 100%;
    display: block;
}

.caption {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.caption1 {
    font-size: 20px;
    font-weight: inherit;
    margin-top: 10px;
    font-style: italic;
}